.about{
    background-color: #141D22;
    display: flex;
    align-items: center;
    flex-direction: column;
    .body{
        margin: 10px 20px;
    }
    .title{
        font-family: "Zen Tokyo Zoo", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        color: #ffffff;
        padding: 35px 0 0 0;
        font-size: 35px;
    }
    .img{
        mask-image: linear-gradient(
            #141D22 70%,
            transparent
        );
    }
}
@media (min-width: 430px){
    .about{
        flex-direction: row-reverse;
        justify-content: center;
        height: 100vh;
        .body{
            width: 40%;
            margin: 10px;
        }
        .img{
            width: 450px;
            height: 400px;
            margin: 10px;
        }
        .title{
            padding: 5px 0;
            font-size: 47px;
            text-align: start;
        }
        .text{
            text-align: start;
        }
    }   
}